.date {
    position: absolute;
    left: 35%;
    top: 30px;
    color: black;
    font-size: 24pt;
}

.time {
    position:absolute;
    top: 65px;
    left: 36%;
    color: black;
    font-size: 24pt;
}

.mainTemp {
    position: absolute;
    left: 46%;
    top: 100px;
    font-size: 50pt;
}

.highLowTemps {
    left: 40.5%;
    top: 195px;
}

.tempInfo1{
    left: 10%;
    top: 350px;    
}

.tempInfo2{
    left: 60%;
    top: 350px;

}

.tempInfo3{
    left: 10%;
    top: 380px;
}

.tempInfo4{
    left: 60%;
    top: 380px;
}

p {
    position: absolute;
    font-size: 16pt;
}