/* @import url('https://fonts.googleapis.com/css?family=Comfortaa:regular,bold,italic&subset=latin,latin-ext'); */

.date {
    position: relative;
    left: 33.5%;
    top: 30px;
    color: black;
    font-size: 24pt;
}

.time {
    position: relative;
    left: 40%;
    color: black;
    font-size: 24pt;
}

.mainTemp {
    position: relative;
    left: 45%;
    bottom: 50px;
    font-size: 50pt;
}

.highLowTemps {
    left: 40%;
    bottom: 100px
}

.tempInfo1{
    left: 10%;
}

.tempInfo2{
    left: 60%;

}

.tempInfo3{
    left: 10%;
}

.tempInfo4{
    left: 60%;
}

p {
    position: relative;
    font-size: 16pt;
}

.infoTable {
    margin: 0;
    position: relative;
    left: 17.5%;
}

.infoTable td {
    padding-right: 10px;
    padding-bottom: 10px;
}